# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Entornos virtuales
venv/
env/
.env

# Streamlit cache
.streamlit/

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
